body {
	background-color: #f2eaed;
	margin: 0;
	font-family: 'Lobster Two';
}
.row:after {
    content: "";
    clear: both;
    display: block;
}

/**** Header***/
header {
	width: 100%;
	background-color: #e06c83;
}

header h1 {
	font-family: 'Lobster Two';
	text-align: center;
	font-size: 3em;
	color: #f5c74b;
	padding-top: .1em;
	padding-bottom: .1em;
}


/*** heart container ***/
.heartContainer {
	height: 1650px;
}
/***Images ***/
img {
	width: 130px;
	border-radius: 8px;
	position: absolute;
}

/****body of heart ****/
#img-1 {
	top: 270px;
	left: 910px;
	transform: rotate(45deg);
}

#img-2 {
	top: 270px;
	left: 810px;
	transform: rotate(-45deg);
}

#img-3 {
	top: 670px;
	left: 810px;
	transform: rotate(-45deg);
}
#img-4 {
	top: 670px;
	left: 910px;
	transform: rotate(45deg);
}

#img-5 {
	top: 470px;
	left: 1110px;
	transform: rotate(45deg);
}

#img-6 {
	top: 470px;
	left: 810px;
	transform: rotate(45deg);
}

#img-7 {
	top: 470px;
	left: 610px;
	transform: rotate(-45deg);
}

#img-8 {
	top: 470px;
	left: 1010px;
	transform: rotate(-45deg);
}

#img-9 {
	top: 330px;
	left: 710px;
	transform: rotate(45deg);
}

#img-10 {
	top: 330px;
	left: 1010px;
	transform: rotate(-45deg);
}

#img-11 {
	top: 370px;
	left: 880px;
	transform: rotate(-75deg);
}

#img-12 {
	top: 320px;
	left: 650px;
	transform: rotate(10deg);
}

#img-13 {
	top: 570px;
	left: 980px;
	transform: rotate(45deg);
}

#img-20 {
	top: 790px;
	left: 840px;
	transform: rotate(45deg);
}

#img-19 {
	top: 680px;
	left: 730px;
	transform: rotate(45deg);
}

#img-26 {
	top: 550px;
	left: 880px;
	transform: rotate(25deg);
}

#img-27 {
	top: 400px;
	left: 740px;
	transform: rotate(-15deg);
}

#img-28 {
	top: 400px;
	left: 1080px;
	transform: rotate(15deg);
}

#img-29 {
	top: 300px;
	left: 1080px;
	transform: rotate(-5deg);
}

#img-30 {
	top: 540px;
	left: 710px;
	transform: rotate(-45deg);
}

/****Left circle of heart***/

#img-14 {
	top: 200px;
	left: 710px;
	transform: rotate(-70deg);
}

#img-15 {
	top: 210px;
	left: 610px;
	transform: rotate(-20deg);
}

#img-16 {
	top: 240px;
	left: 570px;
	transform: rotate(-50deg);
}

#img-17 {
	top: 290px;
	left: 520px;
	transform: rotate(-80deg);
}

#img-18 {
	top: 350px;
	left: 520px;
	transform: rotate(-135deg);
}


/***8Right circle of Heart***/
#img-22 {
	top: 200px;
	left: 1010px;
	transform: rotate(70deg);
}

#img-21 {
	top: 210px;
	left: 1110px;
	transform: rotate(20deg);
}

#img-23 {
	top: 240px;
	left: 1170px;
	transform: rotate(50deg);
}

#img-24 {
	top: 290px;
	left: 1200px;
	transform: rotate(80deg);
}

#img-25 {
	top: 350px;
	left: 1200px;
	transform: rotate(135deg);
}

/***** Outside the heart ****/
#img-31 {
	top: 600px;
	left: 1700px;
	transform: rotate(5deg);
	width: 200px;
}

#img-32 {
	top: 300px;
	left: 1500px;
	transform: rotate(-10deg);
	width: 200px;
}

#img-33 {
	top: 300px;
	left: 200px;
	transform: rotate(15deg);
	width: 150px;
}

#img-34 {
	top: 600px;
	left: 100px;
	transform: rotate(-15deg);
	width: 400px;
}

#img-35 {
	top: 100px;
	left: 1300px;
	transform: rotate(15deg);
}

#img-36 {
	top: 600px;
	left: 1300px;
	transform: rotate(-35deg);
	width: 200px;
}

#img-37 {
	top: 100px;
	left: 1600px;
	transform: rotate(-5deg);
	width: 170px;
}

#img-38 {
	top: 100px;
	left: 400px;
	transform: rotate(5deg);
}

#img-39 {
	top: 100px;
	left: 100px;
	transform: rotate(-10deg);
}

/***love Box***/
#LoveBox {
	position: absolute;
	top: 910px;
	left: 620px;
	width: 600px;
	background-color: #e7a9b1;
	border-radius: 4px;
	padding-top: .3em;
	padding-bottom: .3em;
	padding-right: .5em;
	padding-left: .5em;
}

p {
	font-size: 18px;
}

/**** footer ***/
footer {
	background-color: #e06c83;
	width: 100%;
	height: 50px;
}

footer p {
	text-align: center;
	padding-top: 10px;
	padding-left: 0;
	padding-right: 0;
}